<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input name="title" type="text" ngModel matInput required #title="ngModel" placeholder="Post Title">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea name="content" rows="4" ngModel matInput required #content="ngModel" placeholder="Post Content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Save Post</button>
  </form>
</mat-card>
